.spollers {
	display: grid;
	gap: rem(12);
}

// Спойлер
.spollers__item {
	font-size: rem(20);
}

// Заголовок спойлера
.spollers__title {
	display: flex;
	align-items: center;

	width: 100%;
	cursor: default;
	text-align: left;
	padding: rem(26) rem(15) rem(26) rem(90);
	border-radius: rem(10);
	position: relative;
	background: #6D2885;

	@include adaptiveValue("font-size", 18, 14);
	font-weight: 600;
	color: #fff;

	._spoller-init & {
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			// right: 10px;
			// top: 50%;
			left: rem(35);
			width: rem(23);
			height: rem(23);
			transition: transform 0.5s ease 0s;
			background: url('@img/left-circle.svg') 0 0 no-repeat;
			transform: rotate(-180deg);
		}

		&._spoller-active {
			&::before {
				transform: rotate(-90deg);
			}
		}

		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}

// Контент спойлера
.spollers__body {
	padding: rem(33) rem(20) rem(22) rem(37);


	@include adaptiveValue("font-size", 18, 14);
	line-height: 120%;


}