//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0px 0px;

	border-radius: 10px;
	background: radial-gradient(79.22% 100.00% at 50.20% -0.00%, #00F0FF 0%, #7F3F96 100%);
	box-shadow: 0px 4px 0px 0px #6D2885;
	@include adaptiveValue("width", 245, 170);
	@include adaptiveValue("height", 74, 50);



	color: #FFF;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(83, 28, 102, 0.50);
	font-size: rem(14);
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 2.8px;
	text-transform: uppercase;
}