.faq {
  position: relative;
  @include adaptiveValue("padding-top", 138, 79);
  @include adaptiveValue("padding-bottom", 154, 104);

  &::before {
    content: "";
    position: absolute;
    background: url('@img/faq-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    mix-blend-mode: darken;
    z-index: -1;
  }

  /* .faq__container */
  &__container {
    position: relative;
  }

  /* .faq__title */
  &__title {
    @include adaptiveValue("margin-bottom", 108, 28);
  }

  /* .faq__body */
  &__body {}


  &__decor {
    right: -14%;
    top: -30%;
  }
}



.spollers {

  /* .spollers__item */
  &__item {}

  /* .spollers__title */
  &__title {}

  /* .spollers__body */
  &__body {}
}