.feedback {
  @include adaptiveValue("padding-top", 122, 55);
  @include adaptiveValue("padding-bottom", 118, 78);

  background: linear-gradient(270deg, #272B30 0%, rgba(39, 43, 48, 0.39) 100%);


  /* .feedback__container */
  &__container {}

  /* .feedback__question */
  &__question {}

  /* .feedback__title */
  &__title {
    @include adaptiveValue("margin-bottom", 46, 34);
  }

  /* .feedback__form */
  &__form {
    max-width: rem(924);
    margin: 0 auto;
  }

  /* .feedback__button */
  &__button {}
}

.form {

  /* .form__line */
  &__line {

    /* .form__line_name */
    &_name {}

    /* .form__line_tel */
    &_tel {}

    /* .form__line_mail */
    &_mail {}

    /* .form__line_text */
    &_text {}

    /* .form__line_send */
    &_send {}
  }
}


.checkbox {

  /* .checkbox_cf7 */
  &_cf7 {}

  /* .checkbox__input */
  &__input {}

  /* .checkbox__text */
  &__text {

    /* .checkbox__text_subm */
    &_subm {}
  }
}

.wpcf7-form-control {}

.wpcf7-acceptance {}

.wpcf7-list-item {}

.checkbox-real {

  /* .checkbox-real__input */
  &__input {}
}