.wpcf7-radio input[type="radio"]+span:before {
  display: block;
  content: '';
  position: absolute;

  @include adaptiveValue("height", 47, 30);
  @include adaptiveValue("width", 47, 30);

  border-radius: 100%;
  top: rem(14);
  right: rem(-9);
  background-color: transparent;
  border: rem(1) solid #2C4A67;
}


.wpcf7-radio input[type=radio]+span {}

.wpcf7-radio input[type=radio]:checked+span {}

// Прячем нативные кнопки RADIO
.wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-radio input[type=radio]:checked+span:after {
  visibility: visible;
}

.wpcf7-radio input[type="radio"]+span:after {
  background: url('@img/icons/check-quiz.svg') center / cover no-repeat;
  position: absolute;
  content: '';
  @include adaptiveValue("height", 17, 11);
  @include adaptiveValue("width", 24, 15);
  top: rem(14);
  right: rem(-9);
  background-color: transparent;
  visibility: hidden;
  transition: all .2s ease-in 0s;
}

.wpcf7-radio label {
  position: relative;
  cursor: pointer;
}

.quiz-form {


  &__content {}


  &__button {
    width: rem(163);
    height: rem(61);
    gap: rem(24);

    &:disabled {
      opacity: .3;

      &:hover {
        background-color: red;
      }
    }

    @media (max-width: em(360)) {
      width: 100%;
    }

    &_send {
      // @include adaptiveValue("width", 383, 260, 767, 360);
      width: rem(383);

      @media (max-width:em(440)) {
        width: 100%;
      }

    }
  }


  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(81);
    // margin-top: rem(14);
    gap: rem(15);

    @media (max-width:$tablet) {
      justify-content: center;
    }

    .quiz-form__fieldset_first & {
      margin-top: rem(84);

      @media (max-width: em(580)) {
        margin-top: rem(30);
      }
    }

    .quiz-form__fieldset_price & {
      margin-top: rem(98);
    }
  }


  .wpcf7-list-item-label,
  &__label {

  }
}

.wpcf7-list-item {
  position: relative;
}

.wpcf7-list-item:before {
  content: "";
  position: absolute;
  background-color: #2C4A67;
  width: 2.5rem;
  width: rem(14);
  height: rem(1);
  left: 42px;
  top: 50%;
}

.quiz-popup {
  height: 100vh;
}