.wpcf7-radio input[type="radio"]+span:before {
  display: block;
  position: absolute;
  content: '';

  @include adaptiveValue("height", 47, 30);
  @include adaptiveValue("width", 47, 30);

  border-radius: 50%;
  left: 0;

  top: 50%;
  transform: translate(0, -50%);
  background-color: transparent;
  border: rem(1) solid #2C4A67;
}

// .wpcf7-radio input[type="radio"]+span:after {
//   position: absolute;
//   content: '';
//   display: block;
//   // left: rem(20);

//   // top: 50%;
//   // transform: translate(0, 50%);

//   background-color: transparent;
//   // visibility: hidden;
//   // transition: all .2s ease-in 0s;
// }

.wpcf7-radio input[type=radio]:checked+span:before {
  background: url('@img/icons/check-quiz.svg') center center no-repeat;
  // visibility: visible;
}

// Прячем нативные кнопки RADIO
.wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-radio label {
  position: relative;
  cursor: pointer;
}

.wpcf7-list-item-label {
  margin-left: rem(67);

  font-size: rem(14);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: rem(1.4);
}

.wpcf7-list-item {
  position: relative;
  display: inline-block;
}

.wpcf7-list-item:before {
  content: "";
  position: absolute;
  background-color: #2C4A67;
  width: rem(14);
  height: rem(1);
  left: rem(57);
  top: 50%;
}

.quiz-form {
  // display: flex;
  // flex-direction: column;
  // justify-items: center;
  padding-top: rem(32);
  // overflow: auto;
  min-height: 100%;

  @media (max-width:$mobile) {
    // min-height: 100vh;
  }


  &__header {
    @include adaptiveValue("margin-bottom", 54, 40);
  }


  &__title {
    @include adaptiveValue("margin-bottom", 32, 17);
  }

  &__subtitle {
    margin: 0;
  }

  &__fieldset {
    flex: 1 1 auto;
    min-height: 100%;
  }

  &__item {
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
  }

  &__image {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include adaptiveValue("width", 289, 150);
    @include adaptiveValue("height", 289, 150);
    background: linear-gradient(196deg, #196FC5 0%, #7F3F96 100%);
    border-radius: 50%;
  }

  &__line {
    .quiz-form__block_inp & {
      max-width: rem(327);
      justify-self: start;
    }
  }

  &__label {
    display: block;
    margin-bottom: rem(15);

    font-size: rem(14);
    color: #fff;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.4px;


  }


  &__block {
    display: grid;
    justify-items: center;

    &_inp {
      margin-top: rem(60);
      text-align: left;
    }
  }

  &__options {

    display: grid;
    gap: rem(38);
    // align-self: start;
    @include adaptiveValue("margin-top", 48, 30);
    // text-align: center;
  }

  &__content {}


  &__buttons {
    display: flex;
    @include adaptiveValue("margin-top", 36, 48);
    @include adaptiveValue("margin-bottom", 94, 41);

    &_first {
      justify-content: end;
    }
  }



  &__button {
    width: rem(163);
    height: rem(61);
    gap: rem(24);

    &:disabled {
      opacity: .3;

      &:hover {
        background-color: red;
      }
    }

    @media (max-width: em(360)) {
      width: 100%;
    }
  }

  &__input {
    max-width: rem(327);
  }




  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: rem(97);
    flex: 1 1 auto;

    .footer__copyright {
      letter-spacing: 1.4px;
    }
  }

}



.quiz-popup {

  &__planes {}

  &__label {
    font-size: rem(14);
    line-height: 120%;
    color: $hoverColor;
    margin-top: rem(27); // Проверить на мобилке
    pointer-events: none;
  }

  // height: 100vh;
}